@import url("https://fonts.googleapis.com/css2?family=HelveticaNeueCyr:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(37, 48, 97, 1);
}

/* Adjust scrollbar handle and track */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Set the height of the scrollbar container based on content */
.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  /* Center the scrollbar */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(37, 48, 97, 1);
}

/* Adjust scrollbar position */
.scrollable-container::-webkit-scrollbar {
  margin-left: -6px; /* Adjust the position slightly to the left */
  margin-right: -6px; /* Adjust the position slightly to the right */
}
  
.img {
  height: 60px;
  width: 60px;
}

.table-users {
  /* border: 1px solid #357f86; */
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #000; /* Outer border */
}

.table-users td {
   border: 1px solid #000; /* Inner cell borders */
}

table {
  width: 100%;

}

td,
th {
  padding: 10px;
  border: 1px solid;
  width: 11%;
}

td {
  text-align: center;
  vertical-align: middle;
}

td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}

th {
  background-color: white;
  font-weight: 300;
}



@media screen and (max-width: 700px) {
  table,
  tr,
  td {
     display: block;
  }

  td:first-child {
     width: 100px;
  }

  td:not(:first-child) {
     /* clear: both; */
     margin-left: 100px;
     padding: 4px 20px 4px 90px;
     position: relative;
     text-align: left;
  }

  td:not(:first-child):before {
     color: #68c3cd;
     content: '';
     display: block;
     left: 0;
     position: absolute;
  }

  td:nth-child(2):before {
     content: 'Name:';
  }

  td:nth-child(3):before {
     content: 'Email:';
  }

  td:nth-child(4):before {
     content: 'Phone:';
  }

  td:nth-child(5):before {
     content: 'Comments:';
  }

  tr {
     padding: 10px 0;
     position: relative;
  }

  tr:first-child {
     display: none;
  }
}

@media screen and (max-width: 500px) {
 

  img {
     border: 3px solid;
     border-color: #b3e0e4;
     height: auto;
     margin-left:20px ;
     width: auto;
  }

  td:first-child {
     background-color: #a8d8de;
     border-bottom: 1px solid #68c3cd;
     border-radius: 10px 10px 0 0;
     position: relative;
     top: 0;
     transform: translateY(0);
     width: 100%;
  }

  td:not(:first-child) {
     margin: 0;
     padding: 5px 1em;
     width: 100%;
  }

  td:not(:first-child):before {
     font-size: 0.8em;
     padding-top: 0.3em;
     position: relative;
  }

  td:last-child {
     padding-bottom: 1rem !important;
  }

  tr {
     background-color: white !important;
     border: 1px solid #9fd3d8;
     border-radius: 10px;
     box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
     margin: 0.5rem 0;
     padding: 0;
  }
}
